<h1>Users List</h1>

<div>
  <p-table
    [style]="{ width: '600px' }"
    [value]="(users$ | async) ?? []"
    *ngIf="(users$ | async)?.length"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Status</th>
        <th>Role</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
      <tr>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>
          <p-tag
            [value]="user.status"
            [severity]="getStatusSeverity(user.status)"
          ></p-tag>
        </td>
        <td>{{ user.role }}</td>
      </tr>
    </ng-template>
  </p-table>
  <p *ngIf="!(users$ | async)?.length">No users found.</p>
</div>
