<div>
  <h1>Product List ({{ (products$ | async)?.length }})</h1>
  <div style="margin-bottom: 20px; text-align: right">
    <p-button
      label="Create Product"
      class="small"
      (onClick)="goToCreateProduct()"
    ></p-button>
  </div>

  <div style="width: 100%">
    <p-table
      [value]="(products$ | async) ?? []"
      *ngIf="(products$ | async)?.length"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Price</th>
          <th>Stock</th>
          <th>Status</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
          <td>{{ product.name }}</td>
          <td>{{ product.description }}</td>
          <td>{{ product.price | currency }}</td>
          <td>{{ product.stock }}</td>
          <td>
            <p-tag
              [value]="product.status"
              [severity]="getStatusSeverity(product.status)"
            ></p-tag>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <p *ngIf="!(products$ | async)?.length">No products found.</p>
  </div>
</div>
